.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
  }
  .wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wd-navigation li.wd-active {
    border-left: 2px solid black;
  }
  .wd-navigation li.wd-active a {
    color: black;
  }
  .wd-navigation a {
    color: red;
    text-decoration: none;
  }

  .canvas-button {
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .canvas-active-button {
    background: red;
    color: white;
    border: none;
    border-color: #c7cdd1;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    -webkit-user-select: none;
    user-select: none;
  }

  #sidebar {
    height: 100vh;
    width: 250px;
    color: red;
    position: fixed;
    top: 56px; /* Adjust based on your navbar height */
    left: -250px;
    background-color: lightgray;
    padding-top: 20px;
    z-index: 1;
    transition: left 0.3s ease;
}
navbar-nav {
 display: none; 
}

#sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: red;
    display: block;
}

#chevronDropdown{
  color: red;
  top: 56px; /* Adjust based on your navbar height */
  display:none;
}

@media (max-width: 768px) {
  .navbar {
      background-color: #343a40 ! important; /* Dark color for smaller screens */
      color: white;
  }

  .navbar-toggler {
      display: block;
  }

  #sidebar {
      left: 0;
      width: 100%;
  }
  
  #breadcrumb-item {
    color:red;
  }

  /* #chevron {
      display: block;
  } */

  #chevronDropdown{
    display:inline;
  }
}
#sidebarClose {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  cursor: pointer;
}
  